
* {
  padding: 0;
  margin: 0;
  
}
body {
  background-color:hsl(0, 0%, 94%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.parent {
  display: flex;
  flex-direction: row;
  width: 65vh;
  margin: 1%;
  padding: 1%;
  justify-content: space-around;
  height: 85px;
 
  border-bottom: 1px solid  hsl(0, 1%, 44%);
}

input {
  width: 100px;
  height: 35px;
  font-weight: 700;
  font-size: medium;
  position: relative;
  top: 3px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid hsl(0, 1%, 44%);
}



span {
  font-weight:bold;
  font-size: 9px;
  letter-spacing: 2px;
  position: relative;
  right: 2px;
  color:hsl(0, 1%, 44%) ;
}

.child {
  margin-left: 50px;
  font-size: 55px;
  color: black;
  font-weight: bold;
}

.child span{
  font-size: 55px;
  color:hsl(259, 100%, 65%);
  font-weight:  800i;
}

.container {
  border-radius: 15px 15px 90px 15px;
  height: 45vh;
  width: 75vh;
  background-color:hsl(0, 0%, 100%) ;
}

.error{
  color: red;
  font-size: 12px;
  position: relative;
  top:6px
}

#sub{
  position: relative;
  top:63px;
  cursor: pointer;
  
}

#sub::after{
  color: black;
}



.attribution{
  position: relative;
  top:150px;
  font-size: medium;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}


